$double-border: 3px double #ccc;
$border-radius: 15px;
$title-color: #2c2c2c;
$border-color-item: #e6e6e6;
$gradient: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 12%, rgba(204,204,204,1) 30%, rgba(255,255,255,1) 58%);