*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

@import '_variables';
@import 'scss-parts/create-menu';
@import 'scss-parts/navbar';

@import 'scss-parts/box';



.container{
  padding: 70px 20px 20px;
  max-width: 980px;
  margin: 0 auto;
}

h1{
  color: $title-color;
  font-size: 3em;
  padding-bottom: 10px;
  border-bottom: $double-border;
}

h2{
  color: $title-color;
  margin-bottom: 10px;
  @media(max-width: 525px){
    text-align: center;
}
}

.hidden{
  display: none;
}
